---
---
<header class="bg-[#FFFFFF] p-[10px]">
        <nav class="flex justify-around items-center h-[8vh]">
            <div>
                <a href="index.html">
                    <img class="w-[259px]"src="../img/logo-actualizado.png" alt="Logo">
                </a>
            </div>
            <button class="iniciar-sesion" onclick="window.location.href = 'login.html';">
                Iniciar sesión
            </button>        
        </nav>
    </header>

<style>
.navbar button {
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.navbar button:hover {
    background: #017bff;
    border: 3px solid grey;
    color: white;
    font-size: 1em;
}
</style>
